/* Style the card container */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  a {
    text-decoration: none;
    color: #333;
  }
  

  button[type="submit"] {
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  

  button[type="submit"].edit-button {
    margin-left: 10px;
  }

  form {
    margin: 10px 0;
  }